@font-face {
  font-family: 'iconfont';  /* Project id 2716057 */
  src: url('//at.alicdn.com/t/font_2716057_0axwmj7c8fac.woff2?t=1630044521105') format('woff2'),
       url('//at.alicdn.com/t/font_2716057_0axwmj7c8fac.woff?t=1630044521105') format('woff'),
       url('//at.alicdn.com/t/font_2716057_0axwmj7c8fac.ttf?t=1630044521105') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-wenti:before {
  content: "\e649";
}

.icon-peixun-:before {
  content: "\e60e";
}

.icon-ic_business_enterprise24px:before {
  content: "\e61c";
}

.icon-contact-person:before {
  content: "\e696";
}
.icon-shouye:before {
  content: "\e63d";
}

.icon-fuwu:before {
  content: "\e67c";
}

.icon-zixun:before {
  content: "\e619";
}

.icon-liuyan:before {
  content: "\e64b";
}

.icon-yuanqu:before {
  content: "\e657";
}

.icon-zhengcezhipei:before {
  content: "\e736";
}

.icon-biaoqiankuozhan_shipin-178:before {
  content: "\eb2a";
}

.icon-dengludanse:before {
  content: "\e609";
}

.icon-full-screen:before {
  content: "\e607";
}

.icon-icon--:before {
  content: "\e778";
}

.icon-shengyin:before {
  content: "\e608";
}

.icon-shengyinjingyin:before {
  content: "\e62f";
}
