// 头部底边颜色
$color-HeaderBorder: #00bcd4;
// 面包屑字体颜色
$color-Breadcrumb: #accdd2;
// 侧边栏背景色
$color-MenuBg: #fff;
// 侧边栏子集背景色
$color-MenuSubBg: #fff;
// 侧边栏字体色
$color-MenuText: #000;
// 侧边栏悬停背景色
$color-MenuHoverBg: #eee;
// 侧边栏选中字体色
$color-MenuHoverText: #00bcd4;