<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>集成服务</title>
    <link rel="stylesheet" href="../../public/common/css/page/common-v.css">
    <link rel="stylesheet" href="../../public/common/css/page/integationServices.css">
</head>

<body>
    <div class="header-part"></div>
    <div class="banner mb20">
        <img src="../../public/images/integrationServices/banner.png" alt="">
    </div>
    <div class="main wrap ma mb20">
        <div class="title-box mb20">
            <span>集成服务</span>
        </div>
        <div class="list">
            <ul>
                <li>
                    <p class="title color1">【计量】</p>
                    <div class="inner">
                        <p>（1)提供计量检定校准、体系建设、人员培训等咨询服务；</p>
                        <p>（2)提供简易计量器具检定寄存、中转、送检服务；（3)提供计量检定、校准报告的取送服务。</p>
                    </div>
                </li>
                <li>
                    <p class="title color3">【标准】</p>
                    <div class="inner">
                        <p>（1)为企业提供标准信息查询及各类执行标准有效性查；</p>
                        <p>（2)为企业提供国内最新标准、国际标准和先进标准的咨询服务；</p>
                        <p>（3)为企业提供企业标准自我声明咨询及指导服务；（4)提供标准信息自助查阅平台，提供更加便捷的标准化服务；（5)实施区级标准化激励政策兑现材料收集与解释。</p>
                    </div>
                </li>
                <li>
                    <p class="title color2">【认证认可】</p>
                    <div class="inner">
                        <p>（1)提供强制性产品认证、自愿性认证等活动的咨询和服务；</p>
                        <p>（2)提供小微企业质量管理体系认证提升行动的推广及实施。</p>
                    </div>
                </li>
                <li>
                    <p class="title color2">【检验检测】</p>
                    <div class="inner">
                        <p>提供质量、标准、计量、特种设备等方面检验检测、咨询和技术服务。</p>
                    </div>
                </li>
                <li>
                    <p class="title color3">【质量管理】</p>
                    <div class="inner">
                        <p>（1)提供质量提升清单式服务，促进企业质量提升工作；</p>
                        <p>（2)提供质量管理咨询工作；（3)提供企业质量信用等级评定、品牌咨询申报各类质量奖项。</p>
                    </div>
                </li>
                <li>
                    <p class="title color3">【知识产权】</p>
                    <div class="inner">
                        <p>（1)提供专利转化运用、专利申请、专利维权等咨询和服务；</p>
                        <p>（2)实施区级政策兑现材料收集与解释。</p>
                    </div>
                </li>
                <li>
                    <p class="title color4">【品牌培育】</p>
                    <div class="inner">
                        <p>（1)提供各级质量奖申报指导；（2)建立质量文化推广基地，为初创、中小微企业提供学习机会；</p>
                        <p>（3)定期邀请专家和龙头企业，开展质量提升宣讲和质量文化交流活动。</p>
                    </div>
                </li>
                <li>
                    <p class="title color3">【特种设备】</p>
                    <div class="inner">
                        <p>（1)特种设备相关法律法规政策介绍；</p>
                        <p>（2)特种设备注册登记、报废、停用、注销业务咨询；</p>
                        <p>（3)特种设备作业人员新办证及复审的流程咨询。</p>
                    </div>
                </li>
                <li>
                    <p class="title color5">【培育培训】</p>
                    <div class="inner">
                        <p>（1)根据质量小站服务内容，定期开展教育培训；</p>
                        <p>（2)根据企业服务需求，定制相关教育培训。</p>
                    </div>
                </li>
                <li>
                    <p class="title color6">【商业秘密保护】</p>
                    <div class="inner">
                        <p>（1)商业秘密指导服务</p>
                        <p>（2)商业秘密认定服务</p>
                        <p>（3)商业秘密维权服务</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-part"></div>
    <script type="text/javascript" src="../../plugin/jQuery/jQuery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".header-part").load("../../component/header.html?v0821");
            $(".footer-part").load("../../component/footer.html?v0821");
        })
    </script>
</body>

</html>